.Intro {
  padding: rem(100px) 0;
  &Heading {
    max-width: rem(770px);
  }
}

.Tutorial {
  background: sg-color(sky, light);
  &Layout {
    padding: rem(135px) 0;
    @media screen and (min-width: sg-breakpoint()) {
      display: grid;
      grid-template-columns: repeat(12, [col] 1fr);
    }
  }
  &Image {
    grid-column: col 1/ span 5;
    width: 100%;
  }
  &Content {
    grid-column: col 7 / span 6;
  }
  &:nth-child(odd) {
    background: sg-color(sky);
    .TutorialImage {
      grid-column: col 7 / span 5;
    }
    .TutorialContent {
      grid-column: col 1 / span 6;
    }
  }
}
