.Text {
  font-size: sg-font-size();
  padding-bottom:(sg-font-size() * 1.4);
  line-height: (sg-font-size() * 1.6);
  &:last-child {
    padding-bottom: 0;
  }
}

.Link {
  color: sg-color(ink, light);
  cursor: pointer;
}

.isInverse {
  color: sg-color(white);
}

.typeFooterTitle{
  color: sg-color(white);
}

.typeFooterText {
  color: sg-color(ink, lightest);
}
