.Text {
  font-size: sg-font-size();
  padding-bottom: (sg-font-size() * 1.4);
  line-height: 1.6;

  &:last-child {
    padding-bottom: 0;
  }
}

.Link {
  color: sg-color(ink, light);
  cursor: pointer;
}

.isInverse {
  color: sg-color(white);
}

.isLight {
  color: sg-color(ink, light);
}

.isMedium {
  font-weight: 600;
}

.isBold {
  font-weight: 800;
}

.typeFooterTitle {
  color: sg-color(white);
}

.typeFooterText {
  color: sg-color(ink, lightest);
}

.typeMediaCardTitle {
  display: inline-block;
  color: sg-color(ink, lightest);
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: sg-spacing(tighter);
}

.typeMediaCardText {
  font-size: rem(20px);
  @media screen and (max-width: sg-breakpoint()) {
    font-size: rem(18px);
  }
}

.typeLinkCardHeader {
  font-size: rem(24px);
  color: sg-color(sia-green);
  padding-bottom: rem(16px);
}

.typeLinkCardText {
  font-size: rem(16px);
}

.typeLinkCardFooter {
  font-weight: 600;
  padding-bottom: 0;
}

.typeLinkCardLink {
  color: sg-color(sia-green);
  font-weight: 600;
}

.typeVisionHeading {
  font-weight: 600;
  @media screen and (min-width: sg-breakpoint()) {
    font-size: sg-font-size(h6);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: rem(80px);
  }
}

.typeQuoteText {
  display: inline-block;
  position: relative;
  font-size: initial;
  font-weight: 600;
  max-width: rem(850px);
  @media screen and (min-width: sg-breakpoint()) {
    font-size: sg-font-size(h6);
    font-weight: 400;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: rem(-25px);
    transform: translateX(-50%);
    width: rem(70px);
    height: 2px;
    background: black;
  }
}

.typeQuoteAuthor {
  display: block;
  margin-top: rem(100px);
  font-size: rem(24px);
  padding-bottom: 0;
}

.typeQuoteRole {
  display: block;
}

.typeContactHeader {
  display: block;
  padding-bottom: 0;
}

.typeStat {
  font-weight: 600;
  font-size: rem(14px);
  @media screen and (min-width: sg-breakpoint(portrait, tablet)) {
   font-size: rem(18px);
  }
}
