.Text {
  font-size: sg-font-size();
  padding-bottom:(sg-font-size() * 1.4);
  line-height: 1.6;

  &:last-child {
    padding-bottom: 0;
  }
}

.Link {
  color: sg-color(ink, light);
  cursor: pointer;
}

.isInverse {
  color: sg-color(white);
}

.isLight {
  color: sg-color(ink, light);
}

.isMedium {
  font-weight: 600;
}

.isBold {
  font-weight: 800;
}

.typeFooterTitle{
  color: sg-color(white);
}

.typeFooterText {
  color: sg-color(ink, lightest);
}

.typeMediaCardTitle {
  color: sg-color(ink, lightest);
  padding-top: 0;
  padding-bottom: sg-spacing(tightest);
}

.typeMediaCardText {
  font-size: rem(24px);
}

.typeLinkCardHeader {
  font-size: rem(24px);
  color: sg-color(sia-green);
  padding-bottom: rem(16px);
}

.typeLinkCardText {
  font-size: rem(16px);
}

.typeLinkCardFooter {
  font-weight: 600;
  padding-bottom: 0;
}

.typeLinkCardLink {
  color: sg-color(sia-green);
  font-weight: 600;
}

.typeVisionHeading {
  font-size: sg-font-size(h6);
  line-height: 1.2;
  margin-bottom: rem(80px);
}

.typeQuoteText {
  display: inline-block;
  position: relative;
  font-size: sg-font-size(h6);
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: rem(-25px);
    transform: translateX(-50%);
    width: rem(70px);
    height: 2px;
    background: black;
  }
}

.typeQuoteAuthor {
  display: block;
  margin-top: rem(100px);
  font-size: rem(24px);
  padding-bottom: 0;
}

.typeQuoteRole {
  display: block;
}

.typeContactHeader {
  display: block;
  padding-bottom: 0;
}
