.Button {
  height: rem(50px);
  background: sg-color(sia-green);
  color: sg-color(white);
  padding-left: sg-spacing(tight);
  padding-right: sg-spacing(tight);
  border-radius: sg-radius();
  font-weight: 800;
}

.typeNav {
  background: sg-color(sia-green);
  margin-left: rem(30px);
  margin-top: rem(10px);
}

.typeLargeCTA {
  height: rem(69px);
  line-height: rem(69px);
  font-weight: 400;
  font-size: sg-font-size(large-button);
  padding-left: sg-spacing(loose);
  padding-right: sg-spacing(loose);
}

.Link {
  display: inline-block;
  line-height: rem(50px);
  color: sg-color(white) !important;
}
